.Kontakt {
  color: rgb(0, 241, 181);
  border-color: rgb(0, 241, 181);
  border-style: solid;
  border-radius: 5px;
  height: 32px;
  width: 100px;
  margin-left: 5px;
  padding: auto;
  background-color: rgb(31, 31, 31);
  font-weight: bold;
  font-size: large;
  transition: color 0.7s,
   background-color 0.7s,
   border-color 0.7s;
}
.Kontakt:hover {
  background-color: rgb(0, 241, 181);
  color: rgb(31, 31, 31);
  border-color: rgb(31, 31, 31);
}

.brand {
  font-weight: bold;
  font-family: "Chakra Petch";
  text-align: center;
  padding-top: 230px;
  padding-bottom: 260px;
  font-size: 170px;
  background: rgb(red, green, blue);
  background-image: linear-gradient(90deg, rgb(46, 80, 100), rgb(0, 241, 181));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(31, 31, 31);
}

.title {
  color: rgb(255, 255, 255);
}

.h1-otazky {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.h3-odpovede {
  text-align: center;
  color: white;
}